.btn {
  display: inline-block;
  padding: .8em 6em;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
  transition: transform .2s ease, box-shadow .2s ease;
  &:hover{
    transform: translateY(-2px);
    box-shadow: 0 3px 10px $neutral-secondary;
  }
  &:active{
    transform: translateY(0);
    box-shadow: 0 0 0 transparent;
  }

  // default btn
  &.btnDefaul {
    color: #ffffff;
    border: 1px solid #333333;
    background-color: #333333;
  }

  // primiry btn
  &.btnPrimary {
    color: #ffffff;
    border: 1px solid $primary-color;
    background-color: $primary-color;
  }

  // danger btn
  &.btnDanger {
    color: #ffffff;
    border: 1px solid hsl(0, 48%, 48%);
    background-color: #b53f3f;
  }

  &.btnWhite {
    color: #333333;
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  &.btnSmall {
    padding: .4em 3em;
    line-height: 1;
    border-radius: 15px;
  }
}